* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.app_header{
  object-fit: contain;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.app_signup{
  display: flex;
  text-align: center;
  flex-direction: column;
}

.app_headerImage{
  object-fit: none;
}
